.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.selectorContainer {
  height: 100px;
}
.targetBranch {
  min-width: 40px;
  cursor: pointer;
}
.selector {
  overflow: scroll;
  max-height: 80px;
}
.selector > p {
  margin: 0;
}

.list {
  display: none;
}

.openList {
  position: absolute;
  display: block;
  min-width: 100px;
  margin-top: 10px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
