.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 80px;
  padding: 0 1rem;
  border-bottom: 1px solid #000000;
  background-color: #fff;
  z-index: 20;
}
a {
  text-decoration-line: none;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍎</text></svg>")
      16 0,
    auto;
}
.gittleLogo {
  height: 6vh;
  width: 10vw;
}
