.myRuleListContainer {
  display: flex;
  padding: 0.5rem;
  max-height: 100px;
  border: 1px solid #000;
  border-radius: 0.3rem;
  overflow: scroll;
}

.myRuleList {
  width: 50%;
}

.newRuleInputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.newRuleInputLabel {
  margin-right: 0.23rem;
}

.newRuleInputType {
  width: 40%;
}

.newRuleInputDesc {
  width: 55%;
}

.newRuleInputDescInput {
  width: 210px;
}
