.button {
  height: 12vh;
  width: 12vw;
  background-color: white;
  font-size: 2.5vh;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid rgb(30, 222, 27);
}

.button:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍎</text></svg>")
      16 0,
    auto;
  background-color: rgb(30, 222, 27, 0.4);
  border: 3px solid rgb(30, 222, 27);
}
