.button{
    margin: 10% 0%;
    height: 18vh;
    width: 20vw;
    background-color: #4D96FF;
    text-align: center;
    font-size: 2.5vh;
    color: white;
    font-weight: bold;
}

.button:hover{
  
    cursor: pointer;
}