.login {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.button {
  width: 30vh;
  height: 11vh;
  font-size: 3vh;
  border-radius: 20px;

  background: none;
  color: black;
  /* transition: all 0.1s ease-in; */
}

.button:hover {
  background: rgb(0, 0, 0, 0.7);
  color: white;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍎</text></svg>")
      16 0,
    auto;
  /* box-shadow: 0 0 0 1px rgba(80, 80, 80, .5); */
}

.logo {
  width: 5vh;
  background-color: white;
  /* transition: all 0.1s ease-in; */
}
