.cmdBox{
    
    background-color: black;
    width: 100%;
    height: 10vh;
    /* left:18.3%; */
    bottom: 0px;
    position: absolute;
}

.cmd{
    margin-left: 10%;
    margin-bottom: 1vh;
    background-color: black;
    color:white;
}