.container {
  width: calc(100vw - 256px);
  min-height: calc(100vh - 80px);
  padding: 1.6rem;
  border-left: 1px solid #000000;
}

.commitButton{
        position: fixed;
          top: 90px;
          right: 3%;
          z-index: 99;
}

.cmdDiv{
  position:fixed;
  bottom: 0;
  width: 100%;
}