


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sideBar {
  width: 20vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 80px;
  left: 0;
}

.main {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}