.container-padding{
  width: 100vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sideBar {
  width: 30vw;
  display: flex;
  align-items: top;
  justify-content: center;
  /* position: fixed;
  left: 0%; */
  top: 0%;
}

.routes{
    width: 70vw;
      display: flex;
      align-items: center;
      justify-content: center;
}