.App {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* .sidebar {
  width: 25vw;
} */
.routes {
  display: flex;
  justify-content: center;
  align-items: center;
}
